.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotronIndex {
  background-image:url('http://goo.gl/TYqcPb');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotronIndex .container {
  position: relative;
  top:100px;
}

.jumbotronIndex h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotronIndex h2 {
  color: #eee;
  font-size: 36px;  
  font-family: 'Shift', sans-serif;
  font-weight: lighter;
}

.jumbotronIndex p {
  font-size: 20px;
  color: #fff;
}

.jumbotronIdeas {
  background-image:url('http://cdn.desktopwallpapers4.me/wallpapers/fantasy/1920x1200/2/13853-steampunk-ship-1920x1200-fantasy-wallpaper.jpg');
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotronIdeas .container {
  position: relative;
  top:100px;
}

.jumbotronIdeas h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: right;
}

.jumbotronIdeas h2 {
  color: #eee;
  font-size: 36px;  
  font-family: 'Shift', sans-serif;
  font-weight: lighter;
}

.jumbotronIdeas p {
  font-size: 20px;
  color: #eee;
  text-align: right;
}

.jumbotronDownloads {
  background-image:url('http://www.pageresource.com/wallpapers/wallpaper/steampunk-blimps_424531.jpg');
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotronDownloads .container {
  position: relative;
  top:0px;
}

.jumbotronDownloads h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: right;
}

.jumbotronDownloads h2 {
  color: #eee;
  font-size: 36px;  
  font-family: 'Shift', sans-serif;
  font-weight: lighter;
}

.jumbotronDownloads p {
  font-size: 20px;
  color: #fff;
  text-align: right;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

.downloads{
	background-color: #efefef;
    border-bottom: 1px solid #dbdbdb
}

.Mod-Ideas {
  background-color: #f7f7f7;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: black;
}
table#t01 {
    width: 100%; 
    background-color: #f1f1c1;
}
table, .th, .td {
    border: 1px solid black;
	border-collapse: collapse;
}
th,.td {
    padding: 15px;
}
th {
	text-align: left;
}