.jumbotron {
  background-image:url('http://wallpoper.com/images/00/26/94/51/steampunk-ships_00269451.jpg');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: right;
}

.jumbotron h2 {
  color: #eee;
  font-size: 36px;  
  font-family: 'Shift', sans-serif;
  font-weight: lighter;
}

.jumbotron p {
  font-size: 20px;
  color: #eee;
  text-align: right;
}

h4{
	font-size: 30px;  
	font-family: 'Shift', sans-serif;
	font-weight: bold;
	text-align: center-left;
}

h5{
	font-size: 18px;  
	font-family: 'Shift', sans-serif;
	font-weight: bold;
	text-align: center-left;
}

th,td {
    padding: 15px;
}
