.jumbotron {
  background-image:url('http://cdn.desktopwallpapers4.me/wallpapers/fantasy/1920x1200/2/13853-steampunk-ship-1920x1200-fantasy-wallpaper.jpg');
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: right;
}

.jumbotron h2 {
  color: #eee;
  font-size: 36px;  
  font-family: 'Shift', sans-serif;
  font-weight: lighter;
}

.jumbotron p {
  font-size: 20px;
  color: #eee;
  text-align: right;
}

